*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{
    /* colors */
    --strong-black: #121212;
    --medium-black: #151515;
    --light-black: #1F1F1F;
    --light-purple: #8879B2;
    --white: #fff;

    /* sizes */
    --base-size: 1.2rem;
    --scale: 1.25;
    --xl: calc(var(--large) * var(--scale));
    --large: calc(var(--medium) * var(--scale));
    --medium: calc(var(--small) * var(--scale));
    --small: calc(var(--tiny) * var(--scale));
    --tiny: calc(var(--base-size) / var(--scale));

}

body{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    overflow-x: hidden;
    font-size: var(--large);
    overflow-x: hidden;
    max-width: 100vw;
}


/* MULTISELETOR */


/* HEADER */
nav ul{
    display: flex;
    justify-content: space-between;
}

.c-links{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.c-links a{
    list-style: none;
    text-decoration: none;
}



/* SOBRE MIM */
.f-class-aboutme{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont-aboutme{
    width: 95%;
    display: flex;
    border: 1px solid blue;
    
}

.alltext-aboutme{
    width: calc(100% - 10%);
    text-align: justify;
}

.img-wrapper-aboutme{
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    background-image: url(images/fotoportfolio.jpeg);
    background-size: cover;
}

/* EDUCATION SECTION */

.class-education{
    width: 100%;
    border: 1px solid brown;
}

/* HARD SKILLS */

.s-class-skills{
    background-color: var(--azul-principal);
    width: 100vw;
    height: 300px;
}

/* SOFT SKILLS */

.t-class-softskills{
    width: 100vw;
    height: 300px;
    background-color: beige;
}

.softskills-cont{
    display: flex;
    gap: 4rem;
}

.c-softskill{
    background-color: var(--roxo-principal);
    width: 150px;
    height: 150px;
    border-radius: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CERTIFICAÇÕES */

.fth-class-certifications{
    background-color: var(--roxo-principal);
    width: 100vw;
    height: 200px;
}

/*  FOOTER */
footer{
    width: 100vw;
    height: 18rem;
    background-color: var(--azul-principal);

}

@media screen and (max-width: 600px) {
    body{
        width: 100vw;
        overflow-x: hidden;
    }

    /* header */


    /* about me*/
    .cont-aboutme{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

}