*{
    margin: 0;
    padding: 0;
}

:root{
    /* colors */
    --strong-black: #121212;
    --medium-black: #151515;
    --light-black: #1F1F1F;
    --light-purple: #8879B2;
    --white: #fff;

    /* sizes */
    --base-size: 1.2rem;
    --scale: 1.25;
    --tiny: calc(var(--base-size) / var(--scale));
    --small: calc(var(--tiny) * var(--scale));
    --medium: calc(var(--small) * var(--scale));
    --large: calc(var(--medium) * var(--scale));
    --xl: calc(var(--large) * var(--scale));
    --xxl: calc(var(--xl) * var(--scale));
    --extraxxl: calc(var(--xxl) * var(--scale));
}

body{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    overflow-x: hidden;
    font-size: var(--large);
    overflow-x: hidden;
    max-width: 100vw;
    font-size: var(--base-size);
}


/* MULTISELETOR */

section h2 {
    color: var(--light-purple);
    font-size: var(--extraxxl);
}

.texttitlecont-page {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    align-items: center;
}

.texttitlecont-page span, .text-eachproj p {
    color: var(--white);
}

.text-eachproj h3 {
    color: var(--light-purple);
    line-height: 1;
    font-size: var(--large);
}





/* HEADER */

header{
    width: 100vw;
    background-color: var(--strong-black);
    padding: 2rem 0;
    position: sticky;
    z-index: 999;
    top: 0;
    transition: all 0.2s;
    
}

.blurScroll {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}

nav ul{
    display: flex;
    justify-content: space-around;
}

.c-links{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.c-links a{
    list-style: none;
    text-decoration: none;
}

.c-links a li {
    color: var(--white) !important;
    position: relative;
    
}

.afterLiDash {
    content: "";
    position: relative;
    border-bottom: 2px solid var(--light-purple);
    width: 80%;
    left: 0;
    bottom: 0;
}

@keyframes leftToRight {
    from {left: 0px;}
    to {left: 20px;}
}

.nav-menubtn, .nav-menucont {
    display: none;
}

.c-name h1, .c-links a li{
    color: var(--light-purple);
}
.c-name span{
    color: var(--white);
}





/* SOBRE MIM */
.f-class-aboutme{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--strong-black);
    padding: 4rem 0;
}

.cont-aboutme{
    width: 95%;
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-around;
    
}

.alltext-aboutme{
    width: 50%;
    text-align: justify;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.img-wrapper-aboutme{
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    background-image: url(images/fotoportfolio.jpeg);
    background-size: cover;
}

.cont-btn-scmdlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.btn-downloadcv {
    border: var(--light-black);
    border-radius: 15px;
    font-family: "Poppins";
    background-color: var(--white);
    border: 2px solid var(--light-purple);
    transition: all 0.2s;
    width: 150px;
    height: 45px;
}

.btn-downloadcv:hover {
    cursor: pointer;
    background-color: #8879B2;
    color: var(--white);
    font-size: 1rem;
}

.btn-downloadcv:hover span{
    transform: scale(0.9);
}

.c-socialmedialinks {
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-size: 1.8rem;
}

.c-eachsocmedia a {
    width: 100%;
    height: 100%;
}

.c-eachsocmedia a i {
    color: var(--light-purple);
}

/* EDUCATION SECTION */

.class-education{
    width: 100%;
    background-color: var(--light-black);
    padding: 6rem 0;
    display: flex;
    justify-content: center;
}

.cont-education {
    width: calc(100% - 10%);
    /* border: 1 px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.c-cardeduc{
    background-color: var(--strong-black);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    align-items: center;
}

.contdef-cardeduc {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.t-alleduc {
    display: flex;
}

.text-ccard {
    width: 100%;
    position: relative;
    font-size: var(--large);
    margin-bottom: 1rem;
}

.text-ccard::after {
    content: "";
    width: 32%;
    position: absolute;
    left: 0;
    bottom: -4px;
    border-bottom: 2px solid var(--light-purple);

}

.t-name-alleduc {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.t-years-alleduc{
    width: 103px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--strong-black);
    border-radius: 5px;
}

.t-years-alleduc span {
    display: flex;
    justify-content: center;
    width: 95%;
    font-size: var(--tiny);
    gap: 0.1rem;
}

.t-years-alleduc span i {
    font-size: 0.5rem;
    align-self: center;
    color: var(--strong-black);
}

/* HARD SKILLS */

section.s-class-skills{
    background-color: var(--strong-black);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.cont-hardskills {
    width: calc(100% - 10%);
    display: flex;
    justify-content: center;
}

.c-hardskills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.contain-rowskills{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cont-cskills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.c-skill {
    width: 13%;
    height: 175px;
    background-color: var(--light-black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.c-skill p {
    color: var(--white);
}

.image-skill {
    width: 80%;
    height: 55%;
    /* background-color: brown; */
}

.image-skill img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* PROJETOS */

section.class-projects {
    background-color: var(--light-black);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    align-items: center;
}

.cont-proj {
    width: calc(100% - 10%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}


.c-allprojects {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.c-eachproject {
    width: 80%;
    height: 30%;
    display: flex;
    gap: 3rem;
}

.proj-img-wrapper {
    width: 45%;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
}

.proj-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text-eachproj {
    width: calc(100% - 45%);
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* CERTIFICAÇÕES */

.fth-class-certifications{
    background-color: var(--strong-black);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    align-items: center;
}

/* CONTATO */
/* form {
    display: flex;
    flex-direction: column;
    position: relative;
}

form label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
} */

/*  FOOTER */
footer{
    width: 100vw;
    padding: 1rem 0;
    height: auto;
    background-color: var(--light-purple);
}

.cont-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctext-foot{
    width: 50%;
    display: flex;
    justify-content: center;
}








/* media query*/
@media screen and (max-width: 600px) {
    body{
        width: 100vw;
        overflow-x: hidden;
    }

    /* header */
    header {
        width: 100vw;
        line-height: 1.3;
    }

    .c-links {
        display: none;
    }

    .nav-menubtn {
        width: 50px;
        height: 50px;
        border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menucont{
        display: none; 
        width: 40%;
        height: 100vh;
        background-color: brown;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: center;
    }

    .nav-menucont ul{
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .nav-menucont ul li a {
        text-decoration: none;
    }


    /* about me*/
    .cont-aboutme{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .alltext-aboutme {
        width: 90%;
    }


    /* formação */
    .class-education {
        width: 100vw;
        display: flex;
        justify-content: center;

    }

    .cont-education {
        /* width: calc(100% - 10%); */
        border: 1 px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-education {

    }

    .c-cardeduc{
        width: 90%;
    }

    .t-alleduc {
        display: flex;
    }

    /* projetos */
    
}

@media screen and (max-width: 800px){
    .c-eachproject {
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .proj-img-wrapper, .text-eachproj {
        width: 80%;
    }

    .text-eachproj p {
        line-height: 1.2;
    }

    .c-eachproject.class-2 .text-eachproj{
        order: 2;
    } 
}